/* body {
    height: 100%;
    width: 100%;
    z-index: 2;
} */

#overlayPartyDiv {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: green; */
}
